# Ambiente da Aplicação (development, production, test)
NODE_ENV=development

# Nível de log desejado (error, warn, info, http, verbose, debug, silly)
LOG_LEVEL=debug

# Nome do serviço para identificação nos logs
ECOSYSTEM_NAME=meu-servico-api

# Configurações opcionais de instância (usadas em produção/PM2)
# PM2_INSTANCE_ID=0
# NODE_APP_INSTANCE=0
